@model CheckListJob.Models.ShiftTask
@Html.ValidationSummary(true)
<br />
<h4 class="text-success">@TempData["Review"]</h4>
<h2 class="ms-2">Добавить задачу</h2>
@using (Html.BeginForm("CreateTask", "Task", FormMethod.Post))
{
    <div class="form-row">
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.Name, "Название:", new { @class = "mb-2" })
            @Html.TextBoxFor(m => m.Name, new { type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.Description, "Описание:", new { @class = "mb-2" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.Number, "Порядковый номер:", new { @class = "mb-2" })
            <p class="font-italic text-success fs-5 lastNumber d-inline" style="position: absolute; right: 50%">@ViewBag.LastNumber</p>
            @Html.TextBoxFor(model => model.Number, new { type = "number", min = "1", max = "200", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Number)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.StartTime, "Начало:", new { @class = "mb-2" })
            @Html.TextBoxFor(model => model.StartTime, new { type = "time", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StartTime)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.FinishTime, "Конец:", new { @class = "mb-2" })
            @Html.TextBoxFor(model => model.FinishTime, new { type = "time", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FinishTime)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.ShiftId, "Смена:", new { @class = "mb-2" })
            @Html.DropDownListFor(model => model.ShiftId, (SelectList)ViewBag.Shifts, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ShiftId)
        </div>
        <div class="m-3 form-group col-md-6">
            <input type="submit" class="btn btn-primary" value="Добавить" />
        </div>
    </div>
}

@* <script type="text/javascript">
    $(function () {
        $('select').on('change', function () {
            var item = (this).value;
            alert(item);
            @*let data;
            if (item > 0) {
                @if (((IEnumerable<ShiftTask>)ViewBag.ShiftTasks).Where(x => x.ShiftId == int.Parse(Html.Raw(Json.Serialize(Model.ShiftId)).ToString())).Count() > 0)
                {
                    <text>
                            data = @((IEnumerable<ShiftTask>)ViewBag.ShiftTasks).Where(x => x.ShiftId == 1).Max(u => u.Number);
                        $('#lastNumber').text(data);
                    </text>
                }
            }
        });
    });
</script>*@