@using Newtonsoft.Json
@model CheckListJob.ViewModels.ListTask.ShiftTaskViewModel
@* <meta http-equiv="refresh" content="10" />
 *@<div class="m-5">
    <table class="table table-bordered fs-5">
        <tr class="text-center fs-6">
            <th class="col-1"></th>
            <th width="1%">№</th>
            <th class="col-4">@Html.ActionLink("Название", "ListTask", "Task", new { shiftId = Model.ShiftId, sortShift = Model.ShiftTaskSort.NumberSort }, new { @class = "text-decoration-none text-primary" })</th>
            <th class="col-5">Описание</th>
            <th class="col-1">@Html.ActionLink("Время до", "ListTask", "Task", new { shiftId = Model.ShiftId, sortShift = Model.ShiftTaskSort.StartTimeSort }, new { @class = "text-decoration-none text-primary" })</th>
            <th class="col-1">@Html.ActionLink("Время после", "ListTask", "Task", new { shiftId = Model.ShiftId, sortShift = Model.ShiftTaskSort.FinishTimeSort }, new { @class = "text-decoration-none text-primary" })</th>
        </tr>

        @foreach (var item in Model.ShiftTasks)
        {
            <tr>
                <td>
                    @Html.ActionLink("Выполнил", "CompleteTask", "Task", new { taskId = item.Id, shiftId = Model.ShiftId, sortShift = Model.ShiftTaskSort.CurrentSort }, new { @class = "btn btn-success w-100 m-0" })
                </td>
                <td class="m-auto pe-auto">
                    @item.Number
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td align="center">
                    @item.StartTime.ToString(@"hh\:mm")
                </td>
                <td align="center">
                    @item.FinishTime.ToString(@"hh\:mm")
                </td>
            </tr>
        }
    </table>
</div>

@if (!String.IsNullOrEmpty(ViewData["taskName"].ToString()))
{
    <script type="text/javascript">
        $(document).ready(function () {
            notifyMe(@Model.ShiftId, @Html.Raw(JsonConvert.SerializeObject(@ViewData["taskName"])));
        });

    </script>
}

