@model CheckListJob.ViewModels.ResetPasswordViewModel
@Html.ValidationSummary(true)

@using (Html.BeginForm("EditPassword", "User", FormMethod.Post, new { style = "min-height: 35em;", @class = "ms-4" }))
{
    string email = User.Identity.Name;
    @Html.HiddenFor(m => email)
    @Html.AntiForgeryToken()
    ;
    <h4 class="mt-4">Создание пароля для @User.Identity.Name</h4>
    <div class="form-row">
        <div class="mt-4 form-group col-md-12">
            @Html.LabelFor(m => m.NewPassword, "Пароль:", new { @class = "mb-2" })
            @Html.TextBoxFor(m => m.NewPassword, new { type = "password", @class = "form-control w-50", placeholder = "Введите пароль" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="mt-4 form-group col-md-12">
            @Html.LabelFor(m => m.PasswordConfirm, "Подтвердите пароль:", new { @class = "mb-2" })
            @Html.TextBoxFor(m => m.PasswordConfirm, new { type = "password", @class = "form-control w-50", placeholder = "Введите повторно пароль" })
            @Html.ValidationMessageFor(m => m.PasswordConfirm)
        </div>
        <div class="form-group col-md-12 mt-4">
            <input type="submit" class="btn btn-primary" value="Сохранить" />
        </div>
    </div>
}