@model CheckListJob.Models.Shift
@Html.ValidationSummary(true)

<br />
<h4 class="text-success">@TempData["Review"]</h4>
<h2 class="ms-2"> Добавить смену</h2>

@using (Html.BeginForm("CreateShift", "Shift", FormMethod.Post))
{
    <div class="form-row">
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.Name, "Название:", new { @class = "mb-2" })
            @Html.TextBoxFor(m => m.Name, new { type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.Description, "Описание:", new { @class = "mb-2" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.StartTime, "Начало:", new { @class = "mb-2" })
            @Html.TextBoxFor(model => model.StartTime, new { type = "time", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StartTime)
        </div>
        <div class="m-2 form-group col-md-6">
            @Html.LabelFor(m => m.FinishTime, "Конец:", new { @class = "mb-2" })
            @Html.TextBoxFor(model => model.FinishTime, new { type = "time", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FinishTime)
        </div>
        <div class="m-3 form-group col-md-6">
            <input type="submit" class="btn btn-primary" value="Добавить" />
        </div>
    </div>
}
