@model IEnumerable<CheckListJob.Models.Shift>
<div class="container m-auto w-75">
    <table class="mt-5 table table-bordered fs-6">
        <tr class="text-center fs-5">
            <th class="col-3">Название</th>
            <th class="col-5">Описание</th>
            <th class="col-2">Время</th>
            <th class="col-2"></th>
        </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
        <td align="center">
            @item.StartTime.ToString(@"hh\:mm") - @item.FinishTime.ToString(@"hh\:mm")
        </td>
        <td class="text-center">
            @Html.ActionLink("Редактировать", "EditShift", "Shift", new { shiftId = item.Id }, new { @class = "btn btn-primary w-100 m-0" })
        </td>
    </tr>
    }
    </table>
</div>